@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer base {
  input, select, textarea {
    @apply text-base md:text-sm; /* iOS zoom prevent */
  }

  button, a, input[type="button"], input[type="submit"] {
    @apply min-h-[44px]; /* iOS touch target standard */
  }
}

@layer utilities {

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--muted-foreground);
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--foreground);
  }
}
